{%extends "index.html" %} {%block encabezado%} {% include "encabezado.html"%}
{%endblock%} {%block contenido%}
<div class="login card mt-5" style="margin: 0 auto; width: 25rem">
  <h3 class="text-center fw-bold">Iniciar Sesion</h3>
  <!-- Corregido el título -->
  <form action="login/" class="w-30" style="margin: 0 auto" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="usuario" class="fw-bold">Usuario:</label>
      <input
        type="text"
        name="usuario"
        id="usuario"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="fw-bold">Contraseña:</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3 text-center">
      <button class="btn btn-outline-info">Aceptar</button>
      <a href="login/"
        ><button class="btn btn-outline-danger">Cancelar</button></a
      >
    </div>
    <div class="mb-3 text-center">
      <a
        href=""
        id="btnAbrirModal"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        >¿Olvidaste tu contraseña?</a
      >
    </div>
  </form>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Recuperar Contraseña</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/recuperarClave/" method="post">
          {% csrf_token %}
          <div class="d-flex flex-column gap-3">
            <span><b></b> </span>
            <input
              placeholder="Dijita tu correo electronico"
              type="text"
              name="correo"
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-outline-info"
              data-bs-dismiss="modal"
            >
              Recuperar
            </button>
            <button
              type="submit"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>

      {%endblock%} {%block piePagina%} {% include "piePagina.html"%}
      {%endblock%}
    </div>
  </div>
</div>
